@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  overflow-x: hidden;
}

body {
  background-color: #faf8ff;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

*,
*:focus,
*:hover {
  outline: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Swiper */
.swiper .swiper-slide {
  height: auto;
  background-color: #faf8ff;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-button-prev:after,
.swiper-button-next:after {
  font-weight: bold;
  font-size: 20px !important;
  color: #003ec7;
}

.swiper-pagination-bullet {
  background-color: #003ec7 !important;
}

.swiper-pagination {
  top: 8px !important;
  bottom: unset !important;
}
